/******************
Components General
*******************/

.component-outline {
  border: 2px solid #38383a;
  width: 80%;
  margin: auto;
}

.component-header {
  background-color: #38383a;
  height: 80px;
  text-align: center;
  padding: 20px;
  color: white;
}

.component-title {
  font-family: times;
  text-align: center;
}

/******************
App Component
*******************/
#app-component {
}

.app-logo {
  height: 50px;
}

.app-header {
  border-bottom: 2px solid #38383a;
  margin-bottom: 10px;
}

/******************
CheckIn Component
*******************/
#checkIn-component {

}

.keypad-number {
  display: inline-block;
  width: 33.33%;
  text-align: center;
  height: 65px;
  line-height: 65px;
}

.keypad-number:hover {
  background-color: #1E90FF;
  color: white;
}

.check-key {
  background-color: lightgreen;
}

.back-key {
  background-color: #CD5C5C;
}

/******************
Form Component
*******************/
#form-component {
  font-family: times;
  text-align: center;
}

/******************
UserPage Component
*******************/
#userPage-component {
  font-family: times;
  text-align: center;
}
